{% extends "components/base.html" %}
{% load static %}
{% block title %}
    - Deletar nota
{% endblock title %}
{% block content %}
    <form method="post"
          action="{% url "delete_note" note.id %}"
          class="p-3 border rounded-5 shadow m-2 text-center border-danger">
        {% csrf_token %}
        <h2 class="h2 font-weight-normal text-center">{{ note.title|safe }}</h2>
        <hr />
        <div class="p-3">
            <p class="text-center">{{ note.text|safe }}</p>
        </div>
        <hr />
        <div class="text-center m-3">
            <span class="text-secondary">{{ note.created_at }}</span>
        </div>
        {% if note.created_at != note.updated_at %}
            <div class="text-center m-3">
                <span class="text-secondary">{{ note.updated_at }}</span>
            </div>
        {% endif %}
        <div class="m-5">
            <h3 class="h3 font-weight-normal text-center text-danger">Tem certeza que deseja deletar a nota acima?</h3>
            <h4 class="h4 font-weight-normal text-center text-danger">Esta ação não poderá ser desfeita.</h4>
        </div>
        <div class="text-center my-3 mb-5">
            <input type="submit"
                   value="Confirmar exclusão"
                   class="m-2 py-2 px-3 shadow rounded-5 btn btn-danger">
            <button type="button"
                    onclick="window.history.back()"
                    class="m-2 py-2 px-3 shadow rounded-5 btn btn-secondary">Voltar</button>
        </div>
    </form>
{% endblock content %}
