{% extends "components/base.html" %}
{% load static %}
{% block title %}
    - Detalhes da nota
{% endblock title %}
{% block content %}
    <form method="post"
          action="{% url "read_note" note.id %}"
          class="p-3 border rounded-5 shadow m-2 border-success">
        {% csrf_token %}
        <h2 class="h2 m-2 font-weight-normal text-center">{{ note.title|safe }}</h2>
        <hr />
        <div class="p-3">
            <p class="lead">{{ note.text|safe }}</p>
        </div>
        <hr />
        <div class="text-center m-3">
            <span class="text-success">Criada em: {{ note.created_at }}</span>
        </div>
        {% if note.created_at != note.updated_at %}
            <div class="text-center m-3">
                <span class="text-success">Editada em: {{ note.updated_at }}</span>
            </div>
        {% endif %}
    </form>
    <div class="text-center my-3 mb-5">
        <a href="{% url "delete_note" note.id %}"
           class="m-2 py-2 px-3 shadow rounded-5 btn btn-danger">Deletar nota</a>
        <a href="{% url "update_note" note.id %}"
           class="m-2 py-2 px-3 shadow rounded-5 btn btn-warning">Editar nota</a>
        <button type="button"
                onclick="window.history.back()"
                class="m-2 py-2 px-3 shadow rounded-5 btn btn-secondary">Voltar</button>
    </div>
{% endblock content %}
