{% extends "components/base.html" %}
{% load static %}
{% block title %}
    - Notes
{% endblock title %}
{% block content %}
    <h2 class="text-center mb-4">NyraProject</h2>
    {% if note %}
        <ul class="list-group">
            {% for note in note %}
                <a href="{% url "read_note" note.id %}"
                   class="text-decoration-none m-1 rounded-10 shadow rounded-5">
                    <li class="text-center bg-gradient-light list-group-item m-0 rounded-5">
                        <h3 class="h3">{{ note.title }}</h3>
                        <span class="text-secondary">{{ note.created_at }}</span>
                    </li>
                </a>
            {% endfor %}
        </ul>
    {% else %}
        <p>Não há notas disponíveis no momento.</p>
    {% endif %}
{% endblock content %}
