{% extends "components/base.html" %}
{% load static %}
{% block title %}
    - Notes
{% endblock title %}
{% block content %}
    {% if note %}
        <ul class="list-group text-success bg-dark">
            {% for note in note %}
                <a href="{% url "read_note" note.id %}"
                   class="text-decoration-none m-1 rounded-10 shadow rounded-5">
                    <li class="text-center text-success bg-dark list-group-item rounded-5">
                        <h3 class="h3">{{ note.title|safe }}</h3>
                        <span class="text-secondary">{{ note.created_at }}</span>
                    </li>
                </a>
            {% endfor %}
        </ul>
    {% else %}
        <div class="shadow rounded-5 pt-5 pb-4 ">
            <p class="text-center">Nenhuma nota disponível no momento 💀☠️</p>
        </div>
    {% endif %}
{% endblock content %}
